[mysqld]
performance-schema=0
max_connections=100
max_user_connections=75
query_cache_size=32M
skip-external-locking
key_buffer_size=32M
max_allowed_packet=268435456
table_open_cache=128
sort_buffer_size=512K
net_buffer_length=8K
read_buffer_size=256K
read_rnd_buffer_size=512K
myisam_sort_buffer_size=16M
innodb_file_per_table=1
tmp_table_size=32M
max_heap_table_size=32M
thread_cache_size=4

